In [1]:
import pandas as pd

In [11]:
sheet_names = pd.ExcelFile(r"C:\Users\Dmitri\Desktop\Research Seminar Qualitative Mehtods.xlsx").sheet_names

In [13]:
sheet_names[2:]

['Sasha', 'Vlad', 'Alena', 'Indi', 'Rami', 'Ivan']

In [23]:
dfs = pd.DataFrame()
for name in sheet_names[2:]:
    if name in ['Alena', 'Indi', 'Rami']:
        dfs = pd.concat([dfs,  pd.read_excel(r"C:\Users\Dmitri\Desktop\Research Seminar Qualitative Mehtods.xlsx", sheet_name=name)])

In [20]:
dfs

        Time  Event  Duration in seconds
0   08:55:00      1                  600
1   09:34:00      3                  100
2   09:44:00      5                   70
3   10:01:00      6                   50
4   10:03:00     10                  900
..       ...    ...                  ...
13  16:05:00      1                  220
14  16:15:00      2                  120
15  17:15:00      1                   60
16  17:25:00      1                   90
17  18:05:00      2                   15

[67 rows x 3 columns]

In [3]:
df = pd.read_excel(r"C:\Users\Dmitri\Desktop\Research Seminar Qualitative Mehtods.xlsx", sheet_name='Vlad')
df

        Time  Event  Duration in seconds
0   11:10:00      1                  180
1   11:15:00      1                   30
2   11:17:00      1                  180
3   11:56:00      4                   30
4   12:06:00      9                  100
5   12:30:00      7                  640
6   12:47:00      6                  400
7   13:00:00      9                   60
8   13:01:00      1                  200
9   13:04:00      9                   40
10  13:05:00      1                  100
11  14:20:00     10                   15
12  14:21:00      5                  120
13  14:41:00      1                  110
14  14:43:00      9                  430
15  15:30:00      1                  100
16  15:35:00      7                  500
17  15:53:00      9                   60
18  15:54:00      1                   60
19  15:55:00      9                   30
20  15:55:00      1                   80
21  16:00:00     10                   70
22  17:38:00      6                  300
23  17:46:00      1                   10
24  18:04:00      1                  300
25  18:43:00      5                  100
26  19:02:00      1                  600
27  19:25:00      3                   40
28  20:00:00     11                  800

In [6]:
df.dtypes

Time                   object
Event                   int64
Duration in seconds     int64
dtype: object

In [21]:
dfs.groupby(['Event']).sum('Duration in seconds')

       Duration in seconds
Event
1                     4080
2                      235
3                      140
4                      270
5                      870
6                      900
7                     2790
8                      110
9                      960
10                     985
11                    1220
14                      30

In [24]:
dfs.groupby(['Event']).mean('Duration in seconds')

       Duration in seconds
Event
1               102.461538
3               200.000000
4                91.250000
5               500.000000
7               246.666667
8                72.500000
9               114.285714
10                7.000000
11              260.000000
12              182.500000
13               62.500000
14               35.000000
15               60.000000